@import "header.css";
@import "1_section.css";
@import "2_section.css";
@import "3_section.css";
@import "4_section.css";
@import "5_section.css";
@import "footer.css";
@import "modal.css";
@import "mobile.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.center {
    margin: 0 auto;
}

.block {
    display: block;
}

.display_block {
    display: block;
}

.flex_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    position: relative;
}