* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* правильное отображение размеров с учетом margin and padding*/
}

html {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
    /* по центру */
}

.center {
    margin: 0 auto;
}

.block {
    display: block;
}

.headimg {
    height: 800px;
    background: url("../img/bg/imgHeader.png") center center/cover no-repeat;
}

.logo_text {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
}

#logo_top {
    padding-top: 39px;
    padding-bottom: 14px;
}

.h1_main {
    margin-top: 53px;
    margin-bottom: 21px;
    font-family: Roboto;
    font-size: 41px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.59;
    letter-spacing: normal;
    text-align: center;
    color: #f9bf3b;
    text-transform: uppercase;
}

.simple {
    margin: 0 auto;
}

.it_simple {
    /* display: inline-block; */
    padding-top: 21px;
    margin-bottom: 30px;
    font-family: Roboto;
    font-size: 80px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.3;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

/* .big_line1 {
    display: inline-block;
    margin-bottom: 25px;
    margin-left: 13px;
    width: 250px;
    height: 1px;
    background-color: white;
}
.big_line2 {
    display: inline-block;
    margin-bottom: 25px;
    margin-left: 13px;
    width: 250px;
    height: 1px;
    background-color: white;
} */
.h2_second {
    font-family: Roboto;
    font-size: 41px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #f9bf3b;
    text-transform: uppercase;
}

.text_head {
    margin: 23px 16px 73px 15px;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

#free_bold {
    font-weight: bold;
    color: #f9bf3b;
}

.button_join {
    width: 313px;
    height: 72px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    outline: none;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.18);
    background-image: linear-gradient(to top, #2798b9, #3ab6da);
    border-radius: 8px;
    border: 3px solid rgba(0, 0, 0, .8);
    /* border: solid 4px rgba(0, 0, 0, 0.23); */
}

.join_text {
    text-shadow: -0.7px -0.7px 0 rgba(0, 0, 0, 0.22);
    font-family: Roboto;
    font-size: 21px;
    font-weight: normal;
    font-stretch: condensed;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.know_more {
    display: block;
    margin: 0 auto;
    padding-top: 73px;
    padding-bottom: 13px;
    text-transform: uppercase;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.arrows {
    display: block;
    margin: 0 auto;
}

/* Main first section */

.first_section {
    min-height: 604px;
    background-color: #efefef;
}

.what_here {
    padding-top: 84px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.4;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
    text-transform: uppercase;
}

.big_line {
    display: block;
    margin: 0 auto;
    margin-top: 28px;
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
}

.free_webinar {
    margin-top: 16px;
    font-family: Roboto;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.87;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

.three_img {
    display: flex;
    justify-content: space-evenly;
}

.first_comp {
    margin: 46px 20px 32px 20px;
}

.second_comp {
    margin: 46px 20px 32px 20px;
}

.third_comp {
    margin: 46px 20px 32px 20px;
}

.three_text {
    display: flex;
    justify-content: space-evenly;
}

/* second section*/

.second_section {
    height: 550px;
    background-color: white;
}

.Layer-15 {
    width: 868px;
    height: 502px;
    margin: 48px 902px 0 70px;
    background-image: url("../img/bg/woman_laptop.png");
}

.positionabsolute {
    position: absolute;
}

.positionrelative {
    position: relative;
}

.maintext_second_section {
    margin-left: 621px;
    margin-top: 102px;
    font-family: Roboto;
    font-size: 26px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #299cbd;
    text-transform: uppercase;
}

.alottext {
    margin-left: 621px;
    margin-right: 180px;
    margin-top: 25px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.59;
    letter-spacing: normal;
    text-align: justify;
    color: #4a4a4a;
}

.indent {
    margin-top: 8px;
}

.boldtext {
    display: block;
    margin-top: 8px;
    font-weight: bold;
}

/* Third section */

.third_section {
    height: 447px;
    background: url("../img/bg/screen_third_section.png") center center/cover no-repeat;
}

.endof_study {
    padding-top: 85px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.4;
    letter-spacing: normal;
    text-align: center;
    color: #efefef;
    text-transform: uppercase;
}

.five_icons {
    margin-top: 41px;
}

.icon_one {
    margin-left: 47px;
}

.icon_two {
    margin-left: 118px;
}

.icon_three {
    margin-left: 118px;
}

.icon_fourth {
    margin-left: 118px;
}

.icon_five {
    margin-left: 118px;
}

.five_text {
    padding-top: 25px;
    display: inline-block;
}

.icon_onetext {
    margin-left: 13px;
    display: inline-block;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #efefef;
}

.icon_twotext {
    margin-left: 79px;
    display: inline-block;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #efefef;
}

.icon_threetext {
    margin-left: 57px;
    display: inline-block;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #efefef;
}

.icon_fourthtext {
    margin-left: 30px;
    display: inline-block;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #efefef;
}

.icon_fivetext {
    margin-left: 54px;
    display: inline-block;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #efefef;
}

/* Fourth section */

.fourth_section {
    height: 628px;
    background-color: #efefef;
}

.present {
    display: block;
    padding-top: 86px;
    margin: 0 auto;
}

.textuder_present {
    margin-top: 42px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
}

.button_join_last {
    width: 313px;
    height: 72px;
    display: block;
    margin: 0 auto;
    margin-top: 52px;
    cursor: pointer;
    outline: none;
    box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.18);
    background-image: linear-gradient(to top, #2798b9, #3ab6da);
    border-radius: 8px;
    border: 4px solid #d5d5d5;
}


/* Fifth section */

.fifth_section {
    height: 515px;
    background-color: white;
}

.onescreen img {
    display: block;
    padding-top: 89px;
    margin: 0 auto;
}

.firstwebinar {
    margin: 37px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.4;
    letter-spacing: normal;
    text-align: center;
    color: #252525;
    text-transform: uppercase;
}

.date_time {
    margin-top: 30px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.33;
    letter-spacing: normal;
    text-align: center;
    color: #299cbd;
    text-transform: uppercase;
}

.limit_space {
    margin-top: 25px;
    font-family: Roboto;
    font-size: 23px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.87;
    letter-spacing: normal;
    text-align: center;
    color: #4a4a4a;
}

/* Footer */

.mainfooter {
    height: 166px;
    background-color: #1a1a1a;
}

.footer_support {
    text-align: center;
}

.footer_support a {
    display: inline-block;
    margin: 0 auto;
    margin-top: 60px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #888888;
}

.call_us {
    display: block;
    margin: 0 auto;
    margin-top: 5px;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    text-align: center;
    color: #888888;
}

/* modal window */
.popup,
.popup_calc_end,
.popup_engineer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}

.popup_overlay {
    background-color: rgba(0, 0, 0, .5);
}

.popup_calc_end_content,
.popup_content,
.popup_engineer_content {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    width: 28rem;
    background-color: #fff;
    border-radius: 4%;
}

.text-center {
    text-align: center;
}

.popup_close_cross {
    position: absolute;
    top: -0.6rem;
    right: 0.5rem;
    font-size: 3rem;
    color: black;
    border: none;
    background: 0 0;
    cursor: pointer;
}


.faded {
    animation-name: faded;
    animation-duration: 0.8s;
}

@keyframes faded {
    from {
        opacity: 0.1;
    }

    to {
        opacity: 1;
    }
}

.in_out {
    animation-name: in_out;
    animation-duration: 0.8s;
}

@keyframes in_out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.1;
    }
}

.form {
    padding: 1.5rem 3rem;
    text-align: center;
    border-radius: 3%;
    background-color: #f6f6f6;
    /* change background-color: #211d1d */
}

.form h2 {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #211d1d;
    /* change color: #fff */
    line-height: 1.5;
}

.form_input {
    height: 5.8rem;
    padding: 0;
    margin-bottom: 2rem;
    text-align: center;
    border-radius: 1rem;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.form-control {
    display: block;
    width: 100%;
    height: 45px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.button {
    padding: 1.01rem 0rem;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    border: 1px solid #ffc600;
    border-radius: 1rem;
    background: linear-gradient(180deg, #ffed26 0, #ffb400 100%);
    box-shadow: 1px 2px 20px 0 rgba(255, 153, 0, .4);
    cursor: pointer;
}

.btn-block {
    display: block;
    width: 100%;
}

.text-uppercase {
    text-transform: uppercase;
}

.form_notice {
    margin-top: 1rem;
    font-size: 1.1rem;
    color: #211d1d;
    /* change color: #fff */
}

.phone_error {
    display: none;
    font-size: 14px;
    color: red;
    margin-top: -25px;
}

.modal_message_thanks {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}

.modal_message {
    position: fixed;
    top: 30%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #211d1d;
    color: #f6f6f6;
    font-size: 2.2rem;
    padding: 10px 40px;
    border-radius: 10px;
    z-index: 13;
}

.thanks_modal_cross {
    position: fixed;
    top: 28%;
    right: 25.5%;
    font-size: 3rem;
    color: #f6f6f6;
    border: none;
    background: 0 0;
    display: block;
    z-index: 20;
}

.display_block {
    display: block;
}